<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>泉州广电网络</title>
    <meta name="description" content="light7: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="任行">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name = "format-detection" content = "telephone=no">

    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="[!CSS]light7.css?r=201603281">
    <link rel="stylesheet" href="[!CSS]light7-swiper.css">
    <link rel="stylesheet" href="[!CSS]light7-swipeout.css">
    <link rel="stylesheet" href="[!CSS]demos.css">

    <link rel="apple-touch-icon-precomposed" href="[!IMG]apple-touch-icon-114x114.png">
    <script src="[!JS]jquery-2.1.4.js"></script>	
	<SCRIPT src="[!JS]ywySearch.js" type="text/JavaScript" > </SCRIPT>
	<SCRIPT src="[!JS]function.js" type="text/JavaScript"></SCRIPT>
    <script type="text/JavaScript">
		var Request = new Object(); 			
		Request = GetRequest(); 
		$(document).ready(function() { 
		if(typeof(Request['acctNo']) != "undefined" && Request['acctNo'] != "undefined" && Request['acctNo'] != "" ){
			
			$.showIndicator();
			$.ajax({
				type:'post',
				  url: "wxBoss/index.php?m=ywy&a=queryBillYwy",
				  context: document.body,
				  dataType:'json',  
				  data:"accountNo="+Request['acctNo'].toString(),
				  success: function(json){
						if(json.CODE == "99"){
							alert("当前客户不存在！");
						}else{
							var l = json.length;
							var j = 0;
							var k = 0
							for(var i=l-1;i>=0;i--){
								k = i < 10 ? '0' + i.toString() : i; 
								$("#tbBill").append('<tr><td class=\"tdBill\">' + json[i].BILLCYCLE + '</td>' + '<td class=\"tdBill\">' + json[i].AMOUNT + '</td>' + '<td class=\"tdBill\">' + json[i].PPYAMOUNT + '</td>' + '<td class=\"tdBill\">' + json[i].UNPAYMENTCHARGE + '</td>' + '<td class=\"tdBill\">' + '<a id=\"aBill' + i +  '\" onclick=\"getSubBill(\'trBill' + k + '\', \'aBill' + i + '\' )\">查看详单</a>' + '</td>' + '</tr>' );
								do{
									if(j == 0){
										$("#tbBill").append('<tr id=\"trBill' + k + '\" class=\"trBill\"><td class=\"thBill\">计费期</td><td class=\"thBill\">账单科目</td><td class=\"thBill\">账单金额（元）</td><td class=\"thBill\">已缴金额（元）</td><td class=\"thBill\">未缴金额（元）</td></tr>' );
									}else{
										$("#tbBill").append('<tr id=\"trBill' + k + j + '\" class=\"trBill\"><td class=\"thSubBill\">' + json[i][j-1].BILLCYCLE + '</td>' + '<td class=\"thSubBill\">' + json[i][j-1].ACCTITEMTYPENAME + '</td>' + '<td class=\"thSubBill\">' + json[i][j-1].AMOUNT + '</td>' + '<td class=\"thSubBill\">' + json[i][j-1].PPYAMOUNT + '</td>' + '<td class=\"thSubBill\">' + json[i][j-1].UNPAYMENTCHARGE + '</td></tr>' );
									}
									j++;
								}while(json[i][j-1])
								j = 0;
							}
							$("#ywyBalance").html(json[0].BALANCE+"元");
							
						}
						$.hideIndicator();
				  }
			});	
		}
	});
    </script>
  </head>
  <body>
    <div id="page-label-input" class="page">
  <header class="bar bar-nav">
    <h1 class="title">客户账单查询</h1>
  </header>
  <div class="content">
  <div class="tbBill">
    <table id="tbBill" frame="box" style="background-color:#ffffff;" >
		<tr style="border-bottom: 1px solid #888;">
			<th colspan="5">
				<em>*</em>当前账户余额：<span id="ywyBalance"></span>
			</th>
		</tr>	
		<tr>
		  <td class="thBill">计费期</td>
		  <td class="thBill">账单金额（元）</td>
		  <td class="thBill">已缴金额（元）</td>
		  <td class="thBill">未缴金额（元）</td>
		  <td class="thBill">操作</td>
		</tr>
	</table>	
   </div>
	<p class="ywyP1">注：查询结果只显示最近一年的账单</p>
  </div>
</div>

    <script src="[!JS]light7.js"></script>
    <script src="[!JS]light7-swiper.js"></script>
    <script src="[!JS]light7-city-picker.js"></script>
    <script src="[!JS]light7-swipeout.js"></script>
    <script src="[!JS]demos.js?r=201603281"></script>
  </body>
</html>
