
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>泉州广电网络掌上营销平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="[!CSS]zsyx/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="[!CSS]zsyx/app.css"/>
		<style>
			.title{
				margin: 20px 15px 7px;
				color: #6d6d72;
				font-size: 15px;
			}
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我要营销</h1>
		</header>
		<div class="mui-content">
			
			<div class="title">
				全业务
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxMarketingTCDQDetail&unionid={$unionid}">
						<table style="width:90%;font-size:13px;">
							<tr>
								<td style="width:80%;">套餐即将到期</td>
								<td style="text-align: right;"><span id ="offer_timeout_cnt" class="mui-badge mui-badge-primary">--</span></td>
							</tr>
						</table>
						
						
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxMarketingZZZYDetail&unionid={$unionid}">
						<table style="width:90%;font-size:13px;">
							<tr>
								<td style="width:80%;">增值在用信息表</td>
								<td style="text-align: right;"><span id="zz_info" class="mui-badge mui-badge-primary">--</span></td>
							</tr>
						</table>			
					</a>
				</li>
				
			</ul>
		    
		</div>
	</body>
	<script src="[!JS]zsyx/mui.min.js?v={$version}"></script>
	<script src="[!JS]zsyx/jquery-2.1.4.js?v={$version}"></script>	
	<script>
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
		
		
		$(document).ready(function(){ 
		
			var obj = {$marketingInfo};
			//var obj = {"info": {" offer_timeout_cnt ": "123","zz_info": "123"}};
			if(obj.info != null){
				var offer_timeout_cnt = obj.info.offerTimeoutCnt;
				var zz_info = obj.info.zzInfo;
				document.getElementById("offer_timeout_cnt").innerHTML = offer_timeout_cnt;
				document.getElementById("zz_info").innerHTML = zz_info;
			
			}
				

				//document.getElementById("msisdn").innerHTML = msisdn;
				//if(typeof(msisdn)!="undefined" )
			
			
			
			
		}); 
	</script>
</html>