
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>泉州广电网络</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="[!CSS]zsyx/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="[!CSS]zsyx/app.css"/>
		<style>
			.title{
				margin: 20px 15px 7px;
				color: #6d6d72;
				font-size: 15px;
			}
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我要维系</h1>
		</header>
		<div class="mui-content">
			
			<div class="title">
				全业务
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxHoldQFWTJDetail&unionid={$unionid}">
						<table style="width:90%;">
							<tr>
								<td style="width:80%;">欠费未停机</td>
								<td style="text-align: right;"><span id ="debt_notstop_cnt" class="mui-badge mui-badge-primary">0</span></td>
							</tr>
						</table>
						
						
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxHoldQFTJXY1Detail&unionid={$unionid}">
						<table style="width:90%;">
							<tr>
								<td style="width:80%;">欠费停机小于1个月</td>
								<td style="text-align: right;"><span id="will_stop_less1month_cnt" class="mui-badge mui-badge-primary">0</span></td>
							</tr>
						</table>			
					</a>
				</li>
				
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxHoldQFTJDY1Detail&unionid={$unionid}">
						<table style="width:90%;">
							<tr>
								<td style="width:80%;">欠费停机大等于1个月</td>
								<td style="text-align: right;"><span id="will_stop_than1month_cnt" class="mui-badge mui-badge-primary">0</span></td>
							</tr>
						</table>			
					</a>
				</li>
				
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxHoldZDBTDetail&unionid={$unionid}">
						<table style="width:90%;">
							<tr>
								<td style="width:80%;">主动报停</td>
							</tr>
						</table>			
					</a>
				</li>
				
				
			</ul>
		    
		</div>
	</body>
	<script src="[!JS]zsyx/mui.min.js?v={$version}"></script>
	<script src="[!JS]zsyx/jquery-2.1.4.js?v={$version}"></script>	
	<script>
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
		
		
		$(document).ready(function(){ 
		
			var obj = {$holdInfo};
			//var obj = {"info": {" offer_timeout_cnt ": "123","zz_info": "123"}};
			if(obj.info != null){
				var debt_notstop_cnt = obj.info.debt_notstop_cnt;
				var will_stop_less1month_cnt = obj.info.will_stop_less1month_cnt;
				var will_stop_than1month_cnt = obj.info.will_stop_than1month_cnt;
				
				document.getElementById("debt_notstop_cnt").innerHTML = debt_notstop_cnt;
				document.getElementById("will_stop_less1month_cnt").innerHTML = will_stop_less1month_cnt;
				document.getElementById("will_stop_than1month_cnt").innerHTML = will_stop_than1month_cnt;
			
			}
				

		}); 
	</script>
</html>