<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>&nbsp;泉州广电网络</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name = "format-detection" content = "telephone=no">

		<!--标准mui.css-->
		<link rel="stylesheet" href="[!CSS]zsyx/mui.min.css?v={$version}">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="[!CSS]zsyx/app.css?v={$version}"/>
		<link rel="stylesheet" type="text/css" href="[!CSS]zsyx/mui.picker.min.css?v={$version}" />
		<?php
			set_time_limit(0);
		?>
		<script>
		/*function onBridgeReady(){
			WeixinJSBridge.call('hideOptionMenu');
		}

		if (typeof WeixinJSBridge == "undefined"){
			if( document.addEventListener ){
				document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
			}else if (document.attachEvent){
				document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
				document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
			}
		}else{
			onBridgeReady();
		}*/
		</script>
		<style>
			/*跨webview需要手动指定位置*/
			
			.mui-plus header.mui-bar {
				display: none!important;
			}
			.mui-plus .mui-bar-nav~.mui-content {
				padding: 0!important;
			}
			
			.mui-plus .plus{
				display: inline;
			}
			
			.plus{
				display: none;
			}
			
			#topPopover {
				position: fixed;
				top: 16px;
				right: 6px;
			}
			#topPopover .mui-popover-arrow {
				left: auto;
				right: 6px;
			}
			p {
				text-indent: 22px;
			}
			
			
			
			.mui-popover {
				height: 300px;
			}
			
			.icon-grzx{
				padding: 2px 18px;
			}
			
			html,
			body {
				background-color: #efeff4;
			}
			.mui-views,
			.mui-view,
			.mui-pages,
			.mui-page,
			.mui-page-content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #efeff4;
			}
			.mui-pages {
				top: 46px;
				height: auto;
			}
			.mui-scroll-wrapper,
			.mui-scroll {
				background-color: #efeff4;
			}
			.mui-page.mui-transitioning {
				-webkit-transition: -webkit-transform 300ms ease;
				transition: transform 300ms ease;
			}
			.mui-page-left {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			.mui-ios .mui-page-left {
				-webkit-transform: translate3d(-20%, 0, 0);
				transform: translate3d(-20%, 0, 0);
			}
			.mui-navbar {
				position: fixed;
				right: 0;
				left: 0;
				z-index: 10;
				height: 44px;
				background-color: #f7f7f8;
			}
			.mui-navbar .mui-bar {
				position: absolute;
				background: transparent;
				text-align: center;
			}
			.mui-android .mui-navbar-inner.mui-navbar-left {
				opacity: 0;
			}
			.mui-ios .mui-navbar-left .mui-left,
			.mui-ios .mui-navbar-left .mui-center,
			.mui-ios .mui-navbar-left .mui-right {
				opacity: 0;
			}
			.mui-navbar .mui-btn-nav {
				-webkit-transition: none;
				transition: none;
				-webkit-transition-duration: .0s;
				transition-duration: .0s;
			}
			.mui-navbar .mui-bar .mui-title {
				display: inline-block;
				width: auto;
			}
			.mui-page-shadow {
				position: absolute;
				right: 100%;
				top: 0;
				width: 16px;
				height: 100%;
				z-index: -1;
				content: '';
			}
			.mui-page-shadow {
				background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
				background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
			}
			.mui-navbar-inner.mui-transitioning,
			.mui-navbar-inner .mui-transitioning {
				-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
				transition: opacity 300ms ease, transform 300ms ease;
			}
			.mui-page {
				display: none;
			}
			.mui-pages .mui-page {
				display: block;
			}
			.mui-page .mui-table-view:first-child {
				margin-top: 15px;
			}
			.mui-page .mui-table-view:last-child {
				margin-bottom: 30px;
			}
			.mui-table-view {
				margin-top: 20px;
			}
			
			.mui-table-view span.mui-pull-right {
				color: #999;
			}
			.mui-table-view-divider {
				background-color: #efeff4;
				font-size: 14px;
			}
			.mui-table-view-divider:before,
			.mui-table-view-divider:after {
				height: 0;
			}
			.head {
				height: 40px;
			}
			#head {
				line-height: 40px;
			}
			.head-img {
				width: 40px;
				height: 40px;
			}
			#head-img1 {
				position: absolute;
				bottom: 10px;
				right: 40px;
				width: 40px;
				height: 40px;
			}
			.update {
				font-style: normal;
				color: #999999;
				margin-right: -25px;
				font-size: 15px
			}
			.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-ios .mui-navbar .mui-bar .mui-title {
				position: static;
			}
			/*问题反馈在setting页面单独的css*/
			#feedback .mui-popover{
				position: fixed;
			}
			#feedback .mui-table-view:last-child {
			    margin-bottom: 0px;
			}
			#feedback .mui-table-view:first-child {
			    margin-top: 0px;
			}
			/*问题反馈在setting页面单独的css==end*/
			
			
		</style>
	</head>

	<body>

	
		<div class="mui-bar mui-bar-tab" >
			<a class="mui-tab-item mui-active" href="#index">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			
			<a class="mui-tab-item " href="#tool">
				<span class="mui-icon mui-icon-star"></span>
				<span class="mui-tab-label">工具</span>
			</a>
			
			<a class="mui-tab-item" href="#setting">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">设置</span>
			</a>
		</div>	
	
		
		<div id="middlePopover" class="mui-popover" 
		<if condition="$gridTreeNodeNum gt 1">
		style="max-height:300px"
		</if>
		>
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<foreach name="gridTree" item="um">
							<if condition="$um['mgr_addr_id'] eq $displayGridId"><li class="mui-table-view-cell"><a href="#" style="text-decoration:underline;">{$um.mgr_addr_name}(<span style="color:red;">当前</span>)</a></li>
							<else/>
							<li class="mui-table-view-cell"><a href="#" onclick="changeCust('{$um.mgr_addr_name}',{$um.mgr_addr_id})" style="text-decoration:underline;">{$um.mgr_addr_name}({$um.mgr_addr_id})</a></li>
							</if>
						</foreach>						
					</ul>
				</div>
			</div>

		</div>	
		
		<div class="mui-content">
			
		
			<div id="index" class="mui-control-content mui-active">
				<div id ="top" style="background-color:rgba(21, 163, 135, 0.93);border-bottom:2px solid #d1d1d1;color: white;">
					<if condition="$gridRegister.code eq 0">
						<table style="table-layout:fixed;margin: 0 5%;width: 90%;overflow: hidden;font-size: 13px;">
							<tr style="height: 40px;width:100%;">
								<td style="width: 30%;">
								<div class="mui-media-body">姓名：{$boss_name}</div>
								</td>
								
								<td style="width: 30%;">
								<div class="mui-media-body">工号：{$boss_no}</div>
								</td>
									
								<td style="width: 40%;text-align:right">
										<a href="#middlePopover" >网格：{$displayGridName}</a>
								</td>
							<tr>
						</table>
					<else />
						<table style="table-layout:fixed;margin: 0 5%;width: 90%;overflow: hidden;font-size: 13px;">
							<tr style="height: 40px;width:100%;">
								<td style="width: 30%;">
								<div class="mui-media-body">姓名：{$boss_name}</div>
								</td>
								
								<td style="width: 30%;">
								<div class="mui-media-body">工号：{$boss_no}</div>
								</td>
									
								<td style="width: 40%;text-align:right">
									{$gridRegister.msg}
								</td>
							<tr>
						</table>
					</if>
						
					
				</div>
				<div id="indexPackage" class="mui-slider" style="margin-top:0px;width:90%;margin-left:5%;margin-right:5%;font-size:0.7em" >
					<div class="mui-slider-group" >
						
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9">
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="http://wx.qzcatv.cn/wxBossAdmin/index.php?m=index&a=actionClass&actype=channel&fid=19&p=1">
										<img class="icon-grzx" src="[!IMG]zsyx/xxcx.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">信息公告</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="index.php?m=zsyx&a=zsyxInsertAddress&unionid={$unionid}">
										<img class="icon-grzx" src="[!IMG]zsyx/khcx.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">客户查询</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="http://wx.qzcatv.cn/qzgdwl/index.php?m=qzgdwl&a=qzgdwlBusi&unionid={$unionid}">
										<img class="icon-grzx" src="[!IMG]zsyx/zxbl.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">在线办理</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx " src="[!IMG]zsyx/wdgd.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">我的工单</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="index.php?m=zsyx&a=zsyxMarketing&unionid={$unionid}">
										<img class="icon-grzx" src="[!IMG]zsyx/wyyx.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">我要营销</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="index.php?m=zsyx&a=zsyxHoldinfo&unionid={$unionid}">
										<img class="icon-grzx" src="[!IMG]zsyx/wywx.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">我要维系</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/wdsc.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">我的收藏</div>
									</a>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/wdbj.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">使用排行榜</div>
									</a>
								</li>
								
							</ul>
						</div>
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9">
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/syph.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">待开发</div>
									</a>
								</li>
								
							</ul>
						</div>
	
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
					</div>
				</div>	
			
				<div id="dataTitle" style="background-color:#d9d9d9;border:5px ;color:#777777;border:5px solid #d9d9d9">
					<table style="table-layout:fixed;">
						<tr style="height:20px;">
							<td style="width:60%">
								<h4 style="margin-left:5%;font-size:12px;margin-top:1%;">网格：{$displayGridName}</h4>
							</td>
							
							<td style="width:30%">
								<h4  id="selDateValue" style="margin-left:5%;font-size:12px;margin-top:1%;">{$stat_date}</h4>
							</td>
								
							<td style="width:10%">
								<button id='selDate' data-options='{"type":"date"}' class="btn mui-btn mui-btn-block">选择日期</button>
							</td>
						<tr>
					</table>
	
				</div>
				
				
				<div id ="dataContent" class="mui-slider" style="margin:0 4%;width:92%;">
					
					<div class="mui-slider-group" >
						
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin-top:10px;">
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">昨日数字新增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div  id="new_ins_info_dtv_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#fb5d06;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">昨日高清新增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="new_ins_info_hd_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#419768;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">昨日互动新增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="new_ins_info_itv_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#2d8cd0;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">昨日宽带新增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="new_ins_info_lan_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#d0442d;">...</div>
								</li>
								
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">基础开通率</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="rates_dtv_ins_rate" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#624e6a;">...</div>
								</li>
								
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">高清占有率</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="rates_hd_rate" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#c5a64b;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div  class="mui-media-body" style="color:#4b4b4b;">互动渗透率</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="rates_itv_rate" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#7d8b98;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">宽带开通率</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div  id="rates_lan_ins_rate" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#9e57cd;">...</div>
								</li>
								
								
								
							</ul>
						</div>
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin-top:10px;">
								
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月数字净增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div  id="net_ins_info_dtv_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#fb5d06;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月高清净增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="net_ins_info_hd_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#419768;">...</div>
								</li>
								
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月互动净增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="net_ins_info_itv_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#2d8cd0;">...</div>
								</li>
								
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月宽带净增</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="net_ins_info_lan_ins_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#d0442d;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月数字离网</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="off_info_dtv_off_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#624e6a;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月高清离网</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="off_info_hd_off_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#c5a64b;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月互动离网</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="off_info_itv_off_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#7d8b98;">...</div>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
										<div class="mui-media-body" style="color:#4b4b4b;">当月宽带离网</div>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3" style="padding: 2px 6px;">
										<div id="off_info_lan_off_cnt" class="mui-media-body" style="color:white;border-radius: 8px;background-color:#9e57cd;">...</div>
								</li>
								
							</ul>
						</div>
						
						
						
						
						
	
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
					</div>
				
				
				</div>
			</div>
			
			<div id="tool" class="mui-control-content">
				<div id="toolPackage" class="mui-slider" style="margin-top:0px;width:90%;margin-left:5%;margin-right:5%;font-size:0.7em" >
					<div class="mui-slider-group" >
						
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9">
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/cmts.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">CMTS网管</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/eoc.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">EOC网管</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/lxgc.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">零星工程</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="http://wx.qzcatv.cn/qzgdwl/index.php?m=jfs&a=sjJfs">
										<img class="icon-grzx " src="[!IMG]zsyx/hbfx.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">红包分享</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="http://wx.qzcatv.cn/qzgdwl/index.php?m=qzgdwl&a=qzgdwlProductDetail">
										<img class="icon-grzx" src="[!IMG]zsyx/cptc.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">产品套餐</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="http://wx.qzcatv.cn/qzgdwl/index.php?m=qzgdwl&a=qzgdwlBusinessList&unionid={$unionid}">
										<img class="icon-grzx" src="[!IMG]zsyx/wddd.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">我的订单</div>
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/wxbt.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">微信报停</div>
									</a>
								</li>
								
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/syph.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">使用排行</div>
									</a>
								</li>
								
							</ul>
						</div>
						<div class="mui-slider-item" >
							<ul class="mui-table-view mui-grid-view mui-grid-9">
								<li class="mui-table-view-cell mui-media mui-col-xs-3  mui-col-sm-3 mui-col-md-3">
									<a href="#">
										<img class="icon-grzx" src="[!IMG]zsyx/syph.png?v={$version}" />
										<div class="mui-media-body" style="color:#4b4b4b;">待开发</div>
									</a>
								</li>
								
							</ul>
						</div>
	
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
					</div>
				</div>
			</div>
			
			<div id="setting" class="mui-control-content">
				<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate">
						姓名：{$boss_name}
					</a>
				</li>
				
				<li class="mui-table-view-cell">
					<a class="mui-navigate">						
						工号：{$boss_no}
					</a>
				</li>
				
				<li class="mui-table-view-cell">
					<a class="mui-navigate">
						网格：{$displayGridName}
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						操作记录
					</a>
				</li>
				<li class="mui-table-view-cell" >
					<a class="mui-navigate-right" href="index.php?m=zsyx&a=zsyxMarketing&unionid={$unionid}">
						密码修改
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="#abount">
						关于掌上营销
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell" >
					<a style="text-align: center;color: #FF3B30;" href="index.php?m=zsyx&a=zsyxLogout&unionid={$unionid}">
						退出登录
					</a>
				</li>
			</ul>
			</div>
		</div>
				
		       
		</div>
		
		
		
			
			
	</body>
	<script src="[!JS]zsyx/mui.min.js?v={$version}"></script>
	<script src="[!JS]zsyx/jquery-2.1.4.js?v={$version}"></script>	
	<script src="[!JS]zsyx/mui.picker.min.js?v={$version}"></script>		
	<script>
			(function($) {
				$.init();
				
				Date.prototype.Format = function (fmt) { //author: meizz 
					var o = {
						"M+": this.getMonth() + 1, //月份 
						"d+": this.getDate(), //日 
						"h+": this.getHours(), //小时 
						"m+": this.getMinutes(), //分 
						"s+": this.getSeconds(), //秒 
						"q+": Math.floor((this.getMonth() + 3) / 3), //季度 
						"S": this.getMilliseconds() //毫秒 
					};
					if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
					for (var k in o)
					if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
					return fmt;
				}
		
		
				var selDateValue = $('#selDateValue')[0];
				if(selDateValue.innerText == ""){
					selDateValue.innerText = getTodayStr();
				}
				
				var btns = $('.btn');
				btns.each(function(i, btn) {
					btn.addEventListener('tap', function() {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						/*
						 * 首次显示时实例化组件
						 * 示例为了简洁，将 options 放在了按钮的 dom 上
						 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
						 */
						var picker = new $.DtPicker(options);
						picker.show(function(rs) {
							/*
							 * rs.value 拼合后的 value
							 * rs.text 拼合后的 text
							 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
							 * rs.m 月，用法同年
							 * rs.d 日，用法同年
							 * rs.h 时，用法同年
							 * rs.i 分（minutes 的第二个字母），用法同年
							 */
							selDateValue.innerText =  rs.text;
							queryIndexData(rs.text);
							/* 
							 * 返回 false 可以阻止选择框的关闭
							 * return false;
							 */
							/*
							 * 释放组件资源，释放后将将不能再操作组件
							 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
							 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
							 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
							 */
							picker.dispose();
						});
					}, false);
				});
			})(mui);
		
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
		function alertMsg(){
			mui.toast('栏目建设中，敬请期待！');
		}
		
		function alertChihuo(){
			//mui.toast('4月20日10点正式开始！');
		}
		
		


		function getTodayStr(){
			var dd= (new Date()).Format('yyyy-MM-dd');
			return dd;	
		}
		
		
		
		function changeCust(mgrAddrName,mgrAddrId){
			var btnArray = ['取消', '确定'];
			mui.confirm(mgrAddrName , '切换账号至', btnArray, function(e) {
				if (e.index == 1) {
					mui.toast('切换中，请稍后..');
					window.location.href = "index.php?m=zsyx&a=zsyxChange&unionid={$unionid}&gridId={$gridId}"+"&displayGridId="+mgrAddrId+"&displayGridName="+mgrAddrName;
				}else {
					return false;
				}
			});
		}
		
		
		function queryIndexData(dateValue1){
			var dateValue = dateValue1.replace(/-/g,"");
				
			if(typeof(dateValue)!="undefined" ){
				$.ajax({
				type:'post',
				  url: "index.php?m=zsyx&a=queryindex",
				  context: document.body,
				  dataType:'json',  
				  data:"stat_date="+dateValue+"&grid_id={$displayGridId}&unit_id=''",
				  success: function(result){
						var obj = eval ("(" + result + ")"); 
						var new_ins_info= obj.new_ins_info;
						if(new_ins_info != null){
							var tmpValue = new_ins_info.dtv_ins_cnt;
						    document.getElementById("new_ins_info_dtv_ins_cnt").innerText= tmpValue;						
						    var tmpValue = new_ins_info.hd_ins_cnt;
						    document.getElementById("new_ins_info_hd_ins_cnt").innerText= tmpValue;
						    var tmpValue = new_ins_info.itv_ins_cnt;
						    document.getElementById("new_ins_info_itv_ins_cnt").innerText= tmpValue;
						    var tmpValue = new_ins_info.lan_ins_cnt;
						    document.getElementById("new_ins_info_lan_ins_cnt").innerText= tmpValue;
						}
						
						
						var rates=obj.rates;
						if(rates != null){
							var tmpValue = (rates.dtv_ins_rate*100).toFixed(2)+ rates.dtv_ins_unit; 
							document.getElementById("rates_dtv_ins_rate").innerText= tmpValue;
							var tmpValue = (rates.hd_rate*100).toFixed(2) + rates.hd_unit;
							document.getElementById("rates_hd_rate").innerText= tmpValue;
							var tmpValue = (rates.itv_rate*100).toFixed(2) + rates.itv_unit;
							document.getElementById("rates_itv_rate").innerText= tmpValue;
							var tmpValue = (rates.lan_ins_rate*100).toFixed(2) + rates.lan_ins_unit;
							document.getElementById("rates_lan_ins_rate").innerText= tmpValue;
						
						}
						
						
						var net_ins_info= obj.net_ins_info;
						if(net_ins_info != null){
							var tmpValue = net_ins_info.dtv_ins_cnt;
							document.getElementById("net_ins_info_dtv_ins_cnt").innerText= tmpValue;						
							var tmpValue = net_ins_info.hd_ins_cnt;
							document.getElementById("net_ins_info_hd_ins_cnt").innerText= tmpValue;
							var tmpValue = net_ins_info.itv_ins_cnt;
							document.getElementById("net_ins_info_itv_ins_cnt").innerText= tmpValue;
							var tmpValue = net_ins_info.lan_ins_cnt;
							document.getElementById("net_ins_info_lan_ins_cnt").innerText= tmpValue;
						}
						
						
						var off_info= obj.off_info;
						if(off_info != null){
							var tmpValue = off_info.dtv_off_cnt;
							document.getElementById("off_info_dtv_off_cnt").innerText= tmpValue;						
							var tmpValue = off_info.hd_off_cnt;
							document.getElementById("off_info_hd_off_cnt").innerText= tmpValue;
							var tmpValue = off_info.itv_off_cnt;
							document.getElementById("off_info_itv_off_cnt").innerText= tmpValue;
							var tmpValue = off_info.lan_off_cnt;
							document.getElementById("off_info_lan_off_cnt").innerText= tmpValue;
						}
						
					}
				});
			
			}
		
		}
		$(document).ready(function(){ 
			var selDateValue = $('#selDateValue')[0];
			var dateValue=selDateValue.innerText;
			queryIndexData(dateValue);
			
			
		}); 
		
		
	</script>
	
	
	
	
</html>