<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>&nbsp;泉州广电网络</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name = "format-detection" content = "telephone=no">

	<!--标准mui.css-->
	<link rel="stylesheet" href="[!CSS]zsyx/mui.min.css?v={$version}">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="[!CSS]zsyx/app.css?v={$version}"/>
	<style>
	
		#marketingDetailTable table
		{
			border: 1px solid blue;
			table-layout:fixed;
			white-space: nowrap;
			font-size:10px;
		}
		
		#marketingDetailTable th
		{
			border: 1px solid #6e6e79;
			table-layout:fixed;
			white-space: nowrap;
			color:white;
			background-color:#3385ff;
			text-align:center;
			padding:0 5px;
		}
		
		#marketingDetailTable td
		{
			border: 1px solid #6e6e79;
			table-layout:fixed;
			white-space: nowrap;
			color:rgba(35, 32, 32, 0.65);
			background-color:#fafcff;
			text-align:center;
			padding:0 5px;
		}
		
	</style>
   
		
   
  </head>
  <body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">欠费停机大于1个月</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				
			
			
				<table id="condSel" style="width: 90%;font-size:10px;;margin: 5px 5%;">
					
					<tr  style="border-bottom: 1px solid #dcd9d9;">
						<td style="padding: 0px 10px;">
								周期
						</td>
						
						<td >
							<select  id ="selectList" class="mui-btn mui-btn-block" style="color: blue;">
								<option value="0">欠停2个月</option>
								<option value="1">欠停3个月</option>
								<option value="2">欠停4个月</option>
								<option value="3">欠停5个月</option>
								<option value="4">欠停6个月</option>
								<option value="5">欠停7个月</option>
								<option value="6">欠停8个月</option>
								<option value="7">欠停9个月</option>
								<option value="8">欠停10个月</option>
								<option value="9">欠停11个月</option>
								<option value="10">欠停12个月</option>
								<option value="11">欠停12个月以上</option>
								
								<option value="14">全部</option>
							</select>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid #dcd9d9;">
						<td style="padding: 0px 10px;">
								业务
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>全部</label>
								<input name="radioOffer" value="0" type="radio" checked >
							</span>
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>高清</label>
								<input name="radioOffer" value="1" type="radio" >
							</span>
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>互动</label>
								<input name="radioOffer" value="2" type="radio" >
							</span>
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>宽带</label>
								<input name="radioOffer" value="3" type="radio" >
							</span>
						</td>
					</tr>
					
					<tr style="border-bottom: 1px solid #dcd9d9;">
						<td style="padding: 0px 10px;">
								终端
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>全部</label>
								<input name="radioTerminal" value="0" type="radio" checked>
							</span>
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>主终端</label>
								<input name="radioTerminal" value="1" type="radio" >
							</span>
						</td>
						
						<td>
							<span class="mui-input-row mui-radio mui-left">
								<label>副终端</label>
								<input name="radioTerminal" value="2" type="radio" >
							</span>
						</td>
					</tr>
					
					<tr style="border-bottom: 1px solid #dcd9d9;">
						<td></td>
						<td></td>
						<td></td>
						<td style="padding: 0px 10px;">
							<button id="doSearch">查询</button>
						</td>
						
						<td></td>
					</tr>
				</table>
				
				
			</div>
		
		
			
		
		
			<div class="mui-media-body" style="overflow:scroll">
				<!-- 联系电话	客户名	客户编号	地址	欠费金额	欠费月份	业务分类	终端类型	欠费停机日期	最早欠费月份 -->

				<table id="marketingDetailTable">
					<tr>
						<th>联系电话</th>
						<th>客户名</th>
						<th>客户编号</th>
						<th>地址</th>
						<th>欠费金额</th>
						<th>欠费月份</th>
						<th>业务分类</th>
						<th>终端类型</th>
						<th>欠费停机日期</th>
					<tr>
				<table>
			</div>
			

		
		
		


		</div>
  </body>
    <script src="[!JS]zsyx/jquery-2.1.4.js?v={$version}"></script>	
	<SCRIPT src="[!JS]zsyx/qzgdwlSearch.js?v={$version}" type="text/JavaScript" > </SCRIPT>
	<SCRIPT src="[!JS]zsyx/function.js?v={$version}" type="text/JavaScript"></SCRIPT>
	<script src="[!JS]zsyx/mui.min.js?v={$version}"></script>
	<script src="[!JS]zsyx/echarts-all.js?v={$version}"></script>
   <script type="text/JavaScript">
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
		var info = document.getElementById("info");
		//document.querySelector('#condSel').addEventListener('click',function(e){
		//	//1、获取选中哪个单选框
		//	var checkedValue= getVals();
		//	mui.alert(checkedValue);
		//	//2、清空表格
		//	$("#marketingDetailTable  tr:not(:first)").empty("");
		//	
		//	//3、重新获取数据
		//	
		//});
		
		$('#doSearch').on('tap',function(){
				//1 获取下拉框的值
　　			var $opt = $("#selectList").children('option:selected');
				var bill_stop_month = $($opt).val();
				//mui.alert(ifdq);
				
				//2 获取选中哪个单选框
				var busi_type = getRadioRes('radioOffer');
				//mui.alert(busi_type);
				
				var subtype = getRadioRes('radioTerminal');
				//mui.alert(subtype);
				
				//获取数据
				refreshData(bill_stop_month,busi_type,subtype);
		});
			
			
		
		//默认取今日到期数据
		$(document).ready(function() { 
			refreshData('0','0','0');
			
	});
	
	
	function refreshData(bill_stop_month,busi_type,subtype){
		$("#marketingDetailTable  tr:not(:first)").empty("");
		var paraStr="bill_stop_month="+bill_stop_month;
		paraStr += "&busi_type="+busi_type;
		paraStr += "&subtype="+subtype;
		
		$.ajax({
				type:'post',
				  url: "index.php?m=zsyx&a=queryHoldQFTJDY1Detail",
				  context: document.body,
				  dataType:'json',  
				  data:paraStr,
				  success: function(json){
					var obj = eval(json.will_stop_than1month);
					if(typeof(obj) != "undefined"){
						for(var i=0; i<obj.length; i++)  
					    {  	//联系电话	客户名	客户编号	地址	欠费金额	欠费月份	业务分类	终端类型	欠费停机日期	
					    
					    	$("#marketingDetailTable").append('<tr>'+
					    	'<td>' + obj[i].phone + '</td>'  + 
					    	'<td>' + obj[i].acc_name + '</td>'  + 
					    	'<td>' + obj[i].acc_code + '</td>'  + 
					    	'<td>' + obj[i].address + '</td>'  + 
					    	'<td>' + obj[i].debt_amount + '</td>'  + 
					    	'<td>' + obj[i].debt_month + '</td>'  + 						
					    	'<td>' + obj[i].busi_type_name + '</td>'  + 
					    	'<td>' + obj[i].subtype_name + '</td>'  + 
					    	'<td>' + obj[i].acc_stop_date + '</td>'  + 
					    	'</tr>' );
					    }  
					}
					    
					
				  }
			});	
			
	}

    function getRadioRes(className){
        var rdsObj = document.getElementsByName(className);
        var checkVal = null;
        for(i = 0; i < rdsObj.length; i++){
            if(rdsObj[i].checked){checkVal = rdsObj[i].value;}
        }
        return checkVal;
    }
	//js获取复选框的值
	//function getVals(){
    //    var res = getCheckBoxRes('rds');
    //    if(res.length < 1){
    //        mui.toast('请选择');
    //        return;
    //    }
    //    mui.toast(res);
    //}
    //function getCheckBoxRes(className){
    //    var rdsObj   = document.getElementsByClassName(className);
    //    var checkVal = new Array();
    //    var k        = 0;
    //    for(i = 0; i < rdsObj.length; i++){
    //        if(rdsObj[i].checked){
    //            checkVal[k] = rdsObj[i].value;
    //            k++;
    //        }
    //    }
    //    return checkVal;
    //}

    </script>
	
	
</html>


