<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>泉州广电网络业务代理平台</title>
    <link rel="stylesheet" href="[!CSS]agentCSS/common.css"/>
    <link rel="stylesheet" href="[!CSS]agentCSS/login.css"/>
	<script src="[!JS]agentJS/jquery.js"></script>
    <style>
        
        .login_btn{
            width: 80%;
            margin: 15% 10% 0% 10%;
        }
        .other_login{
            top: 70%;
        }
        .other_choose{
            top: 80%;
        }
    </style>
</head>
<body style="background-color: #e0ebf4;opacity: 0.9;">
<div class="login_bg">
    <div id="logo" style="width: 34.25%;">
        <img src="[!IMG]agentIMG/myInfor.png" alt=""/>
    </div>
    <a class="login_btn" href="index.php?m=agent&a=agentOrder">新建订单</a>
    <a class="login_btn" href="index.php?m=agent&a=agentOrderList">订单查询</a>
    <!-- <a class="login_btn" href="index.php?m=agent&a=agentOrderList">我的佣金</a> -->
    
    
</div>
</body>
<script>
	$('#logo').click(function(){
		window.location.href = "index.php?m=agent&a=agentPersonal";
	});
</script>
</html>