<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>泉州广电网络业务代理平台</title>
    <link rel="stylesheet" href="[!CSS]agentCSS/common.css"/>
    <link rel="stylesheet" href="[!CSS]agentCSS/register.css"/>
	
	<script src="[!JS]agentJS/jquery.js"></script>
	<script src="[!JS]agentJS/layer.m.js"></script>
	<script src="[!JS]common.js"></script>
	<script src="[!JS]function.js"></script>
	<link href="[!CSS]agentCSS/layer.css" type="text/css" rel="styleSheet" >
</head>
<body style="background-color: #e0ebf4;opacity: 0.9;"> 
    <div class="register">
        <div class="regTop">
            <span>代理注册</span>
        </div>
        <div class="content">
            <div class="point" style="text-align:center;">
                <span>注册成功后，手机号为登录账号</span>
            </div>
            <form id="registerForm">
                <div class="message">
                    <input type="text" name="name" class="name" placeholder="输入姓名"  required="required" />
                    <input type="tel" name="phone" class="phone" placeholder="输入手机号" pattern="[0-9]{11}" required="required" />
                    <input type="number" name="cert_no" class="cert_no" placeholder="请输入身份证号码" pattern="[0-9]" required="required" />
                    <input type="password" name="password1" class="password1" placeholder="请输入6-20位密码" pattern="[0-9A-Za-z]{6,25}" required="required" />
                    <input type="password" name="password2" class="password2" placeholder="请再次输入密码" pattern="[0-9A-Za-z]{6,25}" required="required" />
                    <input type="text" name="verify_no" class="verify_no" placeholder="输入验证码" pattern="[0-9]{6}" required="required" />
                    <select name="org_type" class="org_type" style="width:90%;">
                        <option value="请选择您的代理类型...">请选择您的代理类型...</option>
                        <option value="合作企业代理">合作企业代理</option>
                        <option value="社会公众代理">社会公众代理</option>
                    </select>
                    <div class="icons">
                        <b><img src="[!IMG]agentIMG/z1.jpg" alt=""/></b>
                        <b><img src="[!IMG]agentIMG/z2.jpg" alt=""/></b>
                        <b><img src="[!IMG]agentIMG/z3.jpg" alt=""/></b>
                        <b><img src="[!IMG]agentIMG/z4.jpg" alt=""/></b>
                        <b><img src="[!IMG]agentIMG/z4.jpg" alt=""/></b>
                        <b><img src="[!IMG]agentIMG/z5.jpg" alt=""/></b>
                    </div>
                    <input type="button" id="second" class="code" value="获取验证码" >
                </div>
                <div class="agree">
                    <input type="checkbox" name="rule" class="rule" checked /><span>&nbsp;同意&nbsp;</span><a href="">《注册协议》</a>
                </div>
                <input type="button" class="submit" id="register" value="注册">
            </form>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {	
	$(".rule").change(function() { 
		if(!$(".rule").is(':checked')){			
			$("#register").removeClass("submit").addClass('disabled');
			$("#register").attr("disabled", true);
		}else{
			$("#register").removeClass("disabled").addClass('submit');
			$("#register").removeAttr("disabled");
		}
	});

	$("#register").click(function() {
		var name = $(".name");
		var cert_no = $(".cert_no");
		var phone = $(".phone");
		var password1 = $(".password1");
		var password2 = $(".password2");
		var verify_no = $(".verify_no");
		var org_type = $(".org_type");
		var rule = $(".rule");
		if(BASEtrim(name.val()) == "" || BASEtrim(cert_no.val()) == "" || BASEtrim(phone.val()) == "" || BASEtrim(password1.val()) == "" || BASEtrim(password2.val()) == "" || BASEtrim(verify_no.val()) == "" || org_type.val() == "请选择您的代理类型...") {
			layer.open({
				btn: ['好的'],
				content: '<p style="text-align:center;">提示！<br/>所有信息都要填完！</p>',
				shadeClose: false
			});
		}else if(password1.val() != password2.val()){
			layer.open({
				btn: ['好的'],
				content: '<p style="text-align:center;">提示！<br/>密码不一致！</p>',
				shadeClose: false
			});
		}else {
			var certNoResult = checkCertNo(cert_no.val());
			var resultResult = checkPassword(password1.val());
			var result = isPhoneNum(phone.val());
			if(result && resultResult && certNoResult){
				var formdata=$('#registerForm').serialize();
				var delay=layer.open({type:2,shadeClose:false});
				$.post('index.php?m=agent&a=agentRegisterAdd',formdata,function(json){
					layer.close(delay);
					if(json.code == 0){
						layer.open({
							btn: ['好的'],
							content: '<p style="text-align:center;">' + json.msg +'</p>',
							shadeClose: false
						});
						window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3a20e613be177269&redirect_uri=http%3a%2f%2fwx.968816.com.cn%2fqzgdwl%2findex.php%3fm%3dlogin%26a%3dindex&response_type=code&scope=snsapi_base&state=agent%26agentRegister#wechat_redirect";
					}else{
						layer.open({
							btn: ['好的'],
							content: '<p style="text-align:center;">' + json.msg +'</p>',
							shadeClose: false
						});						
						if(json.code == 1){			
							setInterval('window.location.href = "index.php?m=agent&a=agentLogin"',1500);
						}
					}
				},'json');
			}
		    
		};
	});
});

</script>
</html>