<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" /> 
<meta name="MobileOptimized" content="300"/>
<title>广电网络微信营业厅</title>
<link rel="stylesheet" type="text/css" href="[!CSS]css.css" media="all">
<script type="text/javascript" src="[!JS]jquery-1.8.3.min.js" ></script>
</head>

<body style="background-image:url([!IMG]bg.png);">
<div class="bianhao02"><div style="height:20px;"></div></div>
<div class="logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户编号查询</div>
<div class="bianhao02"><div style="height:20px;"></div></div>
<div class="name"><a href="/index.php?m=index&a=insertName"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>客户姓名</div></a></div>
<div class="address"><a href="/index.php?m=index&a=insertAddress"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>客户地址</div></a></div>
<div class="mac"><a href="/index.php?m=index&a=insertMac"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>MAC地址</div></a></div>
<div class="stbno"><a href="/index.php?m=index&a=insertStbno"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>机顶盒号</div></a></div>
<div class="cardno"><a href="/index.php?m=index&a=insertCardno"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>智能卡号</div></a></div>
<div class="certno"><a href="/index.php?m=index&a=insertCertno"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>证件号码</div></a></div>
<div class="phone"><a href="/index.php?m=index&a=insertPhone"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>联系电话</div></a></div>
<div class="back"><a onclick= "javscript: window.history.go(-1)"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>返回</div></a></div>
</div>
</div>
</body>
</html>

