<input id="ctx" type="hidden" value="/xmbtnwx"/>
<SCRIPT LANGUAGE="JavaScript" >
var ctx = '/xmbtnwx';
 
/*$(document).ready(function(){
	$('#aQuery').attr('href','javascript:queryByCardno()); 	
});*/
</SCRIPT>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" /> 
<meta name="MobileOptimized" content="300"/>
<title>广电网络微信营业厅</title>
<link rel="stylesheet" type="text/css" href="[!CSS]css.css" media="all">
<script type="text/javascript" src="[!JS]jquery-1.8.3.min.js" ></script>
<SCRIPT src="[!JS]function.js" type="text/JavaScript"></SCRIPT>
<SCRIPT src="[!JS]search.js" type="text/JavaScript" > </SCRIPT>


</head>

<body style="background-image:url([!IMG]bg.png);">
<div class="bianhao02"><div style="height:20px;"></div></div>
<div class="logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客户编号查询</div>
<div class="bianhao02"><div style="height:20px;"></div></div>
<div class="bianhao04">
<div class="bianhao25"><INPUT  name="stbno" placeholder="请输入机顶盒号，再点击“提交”按钮" id="pass" style=" margin:7px 10px 0 10px;width:255px; height:30px;border:1px solid #ffffff;font-size:13px;color:#787878;" value=""  maxLength=30 onclick='document.getElementById("pass").value = ""' onfocus='document.getElementById("pass").value = ""'></div>
</div>

<div class="content">

	<div class="bianhao02">
		<div style="height:20px;">
		</div>
	</div>
	<table width="280" border="0">
        <tr>
			<td width="15" height="100"></td>
			<td><div class="bianhao006" id="result"></div></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="submit"><a href="javascript:queryByStbno();"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>提交</div></a></div>
<div class="back"><a onclick= "javscript: window.history.go(-1)"><div style="height:44px;width:288px;color:#0269AC;font-size:25px;font-weight:bold;"><div class="bianhao02">
	</div>返回</div></a></div>

</div>
</div>
</body>

</html>

