<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>&nbsp;&nbsp;泉州广电网络</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="[!CSS]mui.min.css?v={$version}">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="[!CSS]app.css?v={$version}"/>
		<?php 
			echo "<script>
				var selfRow= $selfRow;
				var selType = $selfType ;
				</script>"
		?>
		<script>
	
			function initSelect(){
				var obj= selfRow;
				var initTilte = obj[0].self_type;
				changSelList(initTilte);	
			}
			
			function initNavMenu()
			{
				var obj= selType;
				var option="";
				for(var i=0;i<obj.length;i++){
					var self_type = obj[i].self_type;
					if(i==0){
						option =  "<a class=\"mui-control-item mui-active\">"+self_type+"</a>";
					}else{
						option =  "<a class=\"mui-control-item \">"+self_type+"</a>";
					}
					 
					$("#segmentedControl").append(option);
					
				}
			}
			
			function init(){
				initNavMenu();
				initSelect();
			}
		</script>
	</head>
	<body onload ="init()">
		
		<div class="mui-content">
		
			<div id="fixedtop" class="mui-content-padded" style="margin:0px">
				<img src="[!IMG]zzzdBG.jpg?v={$version}" style="width:100%"/>
			</div>
														
			<div  id="navMenu" style="padding: 10px 10px;">
				<div  id="segmentedControl" class="mui-segmented-control">
					
				</div>
			</div>
						
			<div id="select1" style="margin-right: 10px;margin-left: 10px;">
				<select  id ="selectList" class="mui-btn mui-btn-block">
					
				</select>
			</div>		
			<div id="display"	class="mui-collapse-content" style="margin-right: 20px;margin-left: 20px;margin-top:50px">
				<p style="font-size:20px;font-weight:bold;color:#5c5c5c">解决方案:</p>
				<p id="displayDetail">
				</p>
			</div>
					
		</div>
		<script src="[!JS]mui.min.js?v={$version}"></script>
		<script src="[!JS]agentJS/jquery.js?v={$version}"></script>
		<script>
		
			mui.init({
				swipeBack:true //启用右滑关闭功能
				 
			});	
			
		    mui('#segmentedControl').on('tap', 'a', function() { 
					var type =this.innerText;
					
					changSelList(type);
                                });

			$('select').on('change',function(){
　　			var $opt = $(this).children('option:selected');
				var title = $($opt).html();
				displayContent(title);				
			})

			
			function changSelList(type){
				$("#selectList").empty();
				var obj= selfRow;
				var j=0;
				for(var i=0;i<obj.length;i++){
					var self_type = obj[i].self_type;
					var self_tilte = obj[i].self_tilte;
					if(self_type == type){						
						var option =  $("<option>").val(1).text(self_tilte);
						$("#selectList").append(option);
						if( j == 0 ){
							displayContent(self_tilte);
						}
						j++;
					}
				}					

			}
			
			function displayContent(title){
				var obj= selfRow;
				for(var i=0;i<obj.length;i++){
					var self_tilte = obj[i].self_tilte;
					var self_content = obj[i].self_content;
					if(self_tilte == title){
						$('#displayDetail').text(self_content);
					}
				}		
			}
					
			

		</script>
	</body>

</html>