<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<title>微信缴有线电视费送红包，百元红包等你领！</title>
<style>

.mui-toast-container {
	position: fixed;
	display:none;
	z-index: 9999;
	bottom: 20%;
	width: 100%;
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
	opacity: 0
}

.mui-toast-container.mui-active {
	opacity: 1;
}

.mui-toast-message {
	font-size: 14px;
	width: 270px;
	margin: 5px auto;
	padding: 5px;
	text-align: center;
	color: #000;
	border-radius: 7px;
	background-color: #d8d8d8
}

.button, .button:visited {
	background: #222 url(overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
 
	.button:hover							{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 			{ font-size: 11px}
	.button, .button:visited,
	.medium.button, .medium.button:visited 		{ font-size: 13px; 
												  font-weight: bold; 
												  line-height: 1; 
												  text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
												  }
												  
	.large.button, .large.button:visited 			{ font-size: 14px; 
													  padding: 12px 14px 9px; }
													  
	.super.button, .super.button:visited 			{ font-size: 34px; 
													  padding: 13px 14px 9px; }
	
	.red.button, .red.button:visited			{ background-color: #F5921E; }
	.red.button:hover							{ background-color: #F5921E; }
	.importaa {
		max-width: 400px;
		display: block;
		width: 40%;
		height: 40px;
		border: 1px solid #ffff00;
		border-radius: 50px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #FFFF00;
		margin: 0 auto;
		font-family: Arial, Helvetica, sans-serif;
		background: rgba(0,0,0,0.5);
	}
	.footer {
		width: 80%;
		margin: 16px auto;
		padding: 15px 0px;
		text-align:center;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	
	.footer p {
		font-family:"microsoft yahei";
		width: 100%;
		margin: 5px auto;
		margin-bottom:5px;
		font-size: 15px;
		color: #ffffff;
	}
</style>
<link rel="stylesheet" href="[!CSS]weui1.css"/>
<link rel="stylesheet" href="[!CSS]example1.css"/>
<link rel="stylesheet" href="[!CSS]sj/style.css"/>
<link rel="stylesheet" href="[!CSS]sj/bootstrap.min.css"/>
<style type="text/css">
	
</style>

<script type="text/javascript" src="[!JS]jquery.min.js"></script>
<script type="text/javascript" src="[!JS]bootstrap.min.js"></script>
<script type="text/javascript" src="[!JS]jweixin-1.0.0.js"></script>

<script type="text/javascript">


</script>
</head>

<body style="background: url(/qzgdwl/Statics/Default/Images/sj/jfs.jpg);background-size: 100% ;background-repeat: no-repeat;background-color: #C61C0B;">

<div style="padding-top:56%;">
	<div class="footer" >
		<p style="margin-top:5px;font-size:23px;margin-bottom: 15px;">单次缴费满200元</p>
		<p style="margin-top:10px;font-size:20px;">即有机会领100元红包</p>
	</div>
</div>
 <div class="pageWrapper homePageWrapper" style="padding-top: 0px;margin-top: -14px;margin-bottom: 0px"> 
    <!-- page content wrapper starts -->
	<div class="pageContentWrapper servicesPageContent">		
		<if condition="$isHb eq 1">
		
		<div class="pageSpacer"></div>
		<!-- service starts -->
		<div class="columnWrapper serviceWrapper oneHalf"> 
			<div class="serviceIcon serviceIconClockLight">您有1个红包券可以领取</div>
			<div style="text-align:center;margin-bottom: 4px;">
				<a href="#" class="jfs1" ></a>
			</div>
		</div>
		</if>
      <!-- service ends --> 
      <!-- service starts -->
		<div class="pageSpacer" ></div>
		<div class="columnWrapper serviceWrapper oneHalf" style="border-bottom: 0px solid #f0f0f0;"> 
			<div class="serviceIcon serviceIconClockLight">微信缴费</div>
			<div style="text-align:center;margin-bottom: 4px;">
				<a href="#" class="jfs2" ></a>
			</div>
		</div>
      
      
    </div>
	
    <!-- page content wrapper ends --> 
  </div>
<div >
	<div class="footer" style="width:90%;margin: 0px auto;">
		<p>(缴费成功，重新进入此页面即可领取红包)</p>
	</div>
</div>
<div style="text-align:center; margin-top:0px;">
	<a href="index.php?m=qzgdwl&a=qzgdwlTicketList" class="large button red font_class" style="font-size:18px;line-height:15px;">红包记录</a><a href="#" class="large button red font_class" onclick="showHdgz();" style="font-size:18px;line-height:15px;margin-left: 20px;">活动规则</a>
</div>
<div class="toast">
	<div id="toast_success" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<i class="weui_icon_toast weui_icon_toast_success"></i>
			<p class="weui_toast_content">识别成功</p>
		</div>
	</div>
	<div id="toast_error" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<i class="weui_icon_toast weui_icon_toast_error"></i>
			<p class="weui_toast_content">识别失败</p>
		</div>
	</div>

	
	

	<!-- loading toast -->
	<div id="loadingToast" class="weui_loading_toast" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content">数据加载中,<br>请您稍后</p>
		</div>
	</div>
	
	<div id="loadingToastJfs" class="weui_loading_toast" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content">跳转后,<br>点击下一步</p>
		</div>
	</div>
</div>
<!--  -->
<div id="apply1" class="modal fade padding1" tabindex="-1" data-replace="true" data-backdrop="static" >
	<div class="modal-dialog modal-content">
		<div class="modal-body">
		   <div class="img1"><img src="[!IMG]sj/10yuan.png"/></div>
		   <p><span>查看红包！</span></p>
		   <a href="#" class="colse1" data-dismiss="modal"></a>
		   <button type="button" class="but5" data-dismiss="modal" data-toggle="modal" >马上分享给好友</button>
		</div>
	</div>
</div>

<div class="mui-toast-container"><div class="mui-toast-message">点击右上角菜单，分享到朋友圈！</div></div>
<div class="xxcy-main" id="csyj-main" style="display:none;">
	<div class="xxcy">
		<h3>活动规则</h3>			
		<p><b>1.活动时间</b>：2017年6月3日起。<br>
<b>2.活动对象</b>：关注泉州广电网络官方微信并绑定广电账户的用户。<br>
<b>3.活动内容</b>：通过泉州广电网络官方微信一次性预存服务费满200元，即可领红包，100%中奖，最高100元。<br>
4.可进入泉州广电网络官方微信“个人中心”--“优惠券”查看领到的红包。</p>
		
		
	</div>
	<div class="close_xxcy" id="close_csyj" onclick="closeHdgz();"><img src="[!IMG]close_1.png" /></div>
</div>

<div class="zj-main" id="fx-main" style="display:none;overflow:auto;">
		<div class="txzl">
			<div style="padding-top:58%">
				<h3 id="thank"></h3>
			</div>
		</div>
		<div class="close_zj" onclick="jfsClose();" ><img src="[!IMG]close_1.png" /></div>
		<!--<div class="close_zj"><img src="[!IMG]close_1.png" /></div>-->
</div>
<div class="zj-main" id="gd-main" style="display:none;overflow:auto;">
		<div class="txzl" style="background-image:url(Statics/Default/Images/zj_1.png);width: 86%;height: 60.5%;position: absolute;top: 20%;left: 7%; background-size: 100% 100%; text-align: center;">
			<img src="[!IMG]sj/QR.png" style="padding-top: 6%;"/>
			<div style="padding-top:0%">
				<h3>长按识别二维码</h3>
				<h2>绑定广电账号福利多</h2>	
			</div>
		</div>
		<div class="close_zj" onclick="fadeClose();" style="top: 18%"><img src="[!IMG]close_1.png" /></div>
		<!--<div class="close_zj"><img src="[!IMG]close_1.png" /></div>-->
</div>
<script>

	window.onload = function(){
		
	}
	
	function fadeClose(){
		$('.zj-main').fadeOut();
	}
	
</script>
<script>
	var title="微信缴有线电视费送红包，百元红包等你领！";
	var desc="一次缴费满200元，即有机会领100元红包";
	var link = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3a20e613be177269&redirect_uri=http%3a%2f%2fwx.968816.com.cn%2fqzgdwl%2findex.php%3fm%3dlogin%26a%3dindex&response_type=code&scope=snsapi_base&state=jfs%26sjJfs#wechat_redirect";
	var imgUrl = "http://wx.968816.com.cn/qzgdwl/Statics/Default/Images/sj/hb.jpg";
	//var unionid = '<?php echo $unionid;?>';
	wx.config({
	//debug: true,
		appId: '<?php echo $signPackage["appId"];?>',
		timestamp: <?php echo $signPackage["timestamp"];?>,
		nonceStr: '<?php echo $signPackage["nonceStr"];?>',
		signature: '<?php echo $signPackage["signature"];?>',
		jsApiList: [
			'onMenuShareAppMessage',
			'onMenuShareTimeline'
		]
	});
	wx.ready(function(){		
		wx.onMenuShareTimeline({
			title: title, // 分享标题
			link: link, // 分享链接
			imgUrl: imgUrl, // 分享图标
			success: function () { 
				// 用户确认分享后执行的回调函数
				share();
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
		
		wx.onMenuShareAppMessage({
			title: title, // 分享标题
			desc: desc, // 分享描述
			link: link, // 分享链接
			imgUrl: imgUrl, // 分享图标
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () { 
				// 用户确认分享后执行的回调函数
				//share();
			},
			cancel: function () { 
				// 用户取消分享后执行的回调函数
			}
		});
	});

	$(".colse1").click(function(){
		 $('#myModal').modal('hide');
		 window.location.reload();
	});
	
	$('.jfs2').click(function(){
		$('#loadingToastJfs').show();
		setTimeout(function(){						
			window.location.href="index.php?m=qzgdwl&a=qzgdwlGoWxSj";
		},1000);
	});
	
	$('.jfs1').click(function(){
		$('#loadingToast').show();
		$.ajax({
			url:"index.php?m=jfs&a=jfsAjax",
			data: "" ,
			dataType:'json',
			type:'post',
			success:function(data){
				$('#loadingToast').hide();
				if(data.code == 0){
					$('#toast_error').show();
					$("#toast_error .weui_toast_content").html('该红包券已使用');
					setTimeout(function(){
						$('#toast_error').hide();
						$("#toast_error .weui_toast_content").html('该红包券已使用');
						window.location.reload(); 
					},3000);					
				}else if(data.code == 1){
					changeImg(parseInt(data.name));
					$('#fx-main').fadeIn();						
				}else{
					$('#toast_error').show();
					$("#toast_error .weui_toast_content").html('红包券已使用');
					setTimeout(function(){
						$('#toast_error').hide();
						$("#toast_error .weui_toast_content").html('红包券已使用');
					},3000);
				}
			},
			error:function(){
				$('#toast_error').show();
				$("#toast_error .weui_toast_content").html('已使用');
				setTimeout(function(){
					$('#toast_error').hide();
					$("#toast_error .weui_toast_content").html('已使用');
				},3000);
			}
		});
	});
	
	function changeImg(_i){
		switch(_i){
			case 1: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/1yuan.png)');
				break;
			case 2: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/2yuan.png)');
				break;
			case 3: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/5yuan.png)');
				break;
			case 4: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/10yuan.png)');
				break;
			case 5: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/20yuan.png)');
				break;
			case 6: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/50yuan.png)');
				break;
			case 7: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/100yuan.png)');
				break;	
			case 8: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/1yuan.png)');
				break;
			case 9: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/2yuan.png)');
				break;
			case 10: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/5yuan.png)');
				break;
			case 11: 									
				$('.txzl').css('backgroundImage','url(Statics/Default/Images/sj/10yuan.png)');
				break;
		}
	}
	
	function share(){
		$.ajax({
			type:'post',
			url: "index.php?m=jfs&a=hbqShare",
			context: document.body,
			dataType:'json',  
			data:'unionid={$unionid}',
			success: function(json){
				if(json.code == 1){
					changeImg(parseInt(json.value));
					$('#thank').html('谢谢分享');
					$('#fx-main').fadeIn();
				}else if(json.code == 0){
					$('#toast_success').show();
					$("#toast_success .weui_toast_content").html('感谢分享');
					setTimeout(function(){
						$('#toast_success').hide();
						$("#toast_success .weui_toast_content").html('感谢分享');
					},3000);
				}else{
					$('#toast_error').show();
					$("#toast_error .weui_toast_content").html('超时操作');
					setTimeout(function(){						
						window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3a20e613be177269&redirect_uri=http%3a%2f%2fwx.968816.com.cn%2fqzgdwl%2findex.php%3fm%3dlogin%26a%3dindex&response_type=code&scope=snsapi_base&state=jfs%26sjJfs#wechat_redirect";
						$("#toast_error .weui_toast_content").html('超时操作');
					},2000);
				}
			}
		});
	}
</script>
<script>
	function alertMsg(){
		$('.mui-toast-container').show();
		$('.mui-toast-container').addClass('mui-active');
		setTimeout(function(){		
			$('.mui-toast-container').hide();				
			$('.mui-toast-container').removeClass('mui-active');
		},5000);
	}
	
	function goDidi(){
		window.location.href = "https://gsactivity.diditaxi.com.cn/gulfstream/activity/v2/giftpackage/index?g_channel=109b25fd62ff2422b01dd07a41973698";
	}
	
	function jfsClose(){
		$('.zj-main').fadeOut();
		window.location.reload();
	};
</script>
<script>
	function showHdgz(){
		$('#csyj-main').fadeIn();
	}
	function closeHdgz(){
		$('#csyj-main').fadeOut();		
	}
</script>
</body>
</html>