<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
	<title>泉州广电网络</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
    <link rel="stylesheet" href="[!CSS]weui1.css"/>
    <link rel="stylesheet" href="[!CSS]example1.css"/>
	<!--标准mui.css-->
	<link rel="stylesheet" href="[!CSS]mui.min.css">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="[!CSS]app.css" />
	<script src="[!JS]jquery.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>	
	<link rel="stylesheet" href="[!CSS]tc.css">
</head>
<body>

<img src="[!IMG]tcShare.jpg" class="banner2"/>
</body>
</html>