<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>泉州广电网络</title>
    <meta name="description" content="light7: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="任行">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name = "format-detection" content = "telephone=no">

    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="[!CSS]light7.css?r=201603281">
    <link rel="stylesheet" href="[!CSS]light7-swiper.css">
    <link rel="stylesheet" href="[!CSS]light7-swipeout.css">
    <link rel="stylesheet" href="[!CSS]demos.css">

    <link rel="apple-touch-icon-precomposed" href="[!IMG]apple-touch-icon-114x114.png">
    <script src="[!JS]jquery-2.1.4.js"></script>	
	<SCRIPT src="[!JS]qzgdwlSearch.js" type="text/JavaScript" > </SCRIPT>
	<SCRIPT src="[!JS]function.js" type="text/JavaScript"></SCRIPT>
    <script type="text/JavaScript">
		var Request = new Object(); 			
		Request = GetRequest(); 
		$(document).ready(function() { 
			var date = new Date();
			var y = date.getFullYear();
			var m = date.getMonth() + 1;
			var d = date.getDate();
			date1 = y.toString() + '-' + (m < 10 ? ('0' + m) : m) + '-01';
			date2 = y.toString() + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
			$("#startDate").val(date1);
			$("#endDate").val(date2);
		}); 

		function queryByDate(){
		if($('#startDate')[0].value == "" || $('#endDate')[0].value == ""){
			$.alert('开始、结束时间不能为空', '错误!');
			return false;
		}else if($('#startDate')[0].value > $('#endDate')[0].value){
			$.alert('开始时间不能大于结束时间', '错误!');
			return false;
		}
		if(typeof(Request['custCode']) != "undefined" && Request['custCode'] != "undefined" && Request['custCode'] != "" ){
		
			$.showIndicator();
			$.ajax({
				type:'post',
				  url: "index.php?m=qzgdwl&a=queryBusiness",
				  context: document.body,
				  dataType:'json',  
				  data:"custCode="+Request['custCode'].toString()+"&startDate=" + $('#startDate')[0].value + "&endDate=" + $("#endDate")[0].value,
				  success: function(json){
						if(json.length == 0){
							$.alert('当前时间段无办理记录', '注意!');
							$.hideIndicator();
							return false;
						}else{
							var l = json.length;
							for(var i=0;i<l;i++){
							//SODATE BUSITYPE SOSTATUS OUTFLAG OPERNAME ORGNAME
								if(i%2 == 0){
									$("#tbBill").append("<tr   class=\"odd\"  onmouseover=\"this.className='highlight'\"  onmouseout=\"this.className='odd'\"><td>" + json[i].SODATE + '</td>' + '<td>' + json[i].BUSITYPE + '</td>' + '<td>' + json[i].SOSTATUS + '</td>' + '<td>'+ (json[i].OUTFLAG=="0"?"否":"是") + '</td>' + '<td>'+ json[i].OPERNAME + '</td>' + '<td>' + json[i].ORGNAME + '</td></tr>' );
								}else{
									$("#tbBill").append("<tr   class=\"even\"  onmouseover=\"this.className='highlight'\"  onmouseout=\"this.className='even'\"><td>" + json[i].SODATE + '</td>' + '<td>' + json[i].BUSITYPE + '</td>' + '<td>' + json[i].SOSTATUS + '</td>' + '<td>'+ (json[i].OUTFLAG=="0"?"否":"是") + '</td>' + '<td>'+ json[i].OPERNAME + '</td>' + '<td>' + json[i].ORGNAME + '</td></tr>' );								
								}
							}
						}
						$.hideIndicator();
				  }
			});	
		}
	}
    </script>
  </head>
  <body>
    <div id="page-label-input" class="page">
  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left" onclick="goBack()">
      <span class="icon icon-left"></span>
      Back
    </a>
    <h1 class="title">业务办理查询</h1>
  </header>
  <div class="content">
  <div class="list-block" style="padding: 8px 0;">
      <ul>
        <!-- Text inputs -->
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">开始时间</div>
              <div class="item-input">
				<input type="text" placeholder="选择开始时间" id='startDate'  data-toggle='date'/>
              </div>
            </div>
          </div>
        </li>     
		<li>
		  <div class="item-content">
			<div class="item-inner">
			  <div class="item-title label">结束时间</div>
			  <div class="item-input">				
				<input type="text" placeholder="选择结束时间" id='endDate'  data-toggle='date'/>
			  </div>
			</div>
		  </div>
		</li>        		
      </ul>
    </div>
	<div><a class="weui_btn_warn" onclick="queryByDate()">查询</a></div>
  <div class="jmesa">
    <table id="tbBill"  border="0"  cellpadding="0"  cellspacing="0"  class="wt-tab04"  width="100%">
		<tr style="border-bottom: 1px solid #dadada;">
			<th colspan="6" style="	font-family: verdana, arial, helvetica, sans-serif;">
				<em>*</em>查询结果：<span id="ywyBalance"></span>
			</th>
		</tr>	
		<tr class="trCharge">
		  <td>受理时间</td>
		  <td>业务类型</td>
		  <td>受理状态</td>
		  <td>是否施工</td>
		  <td>操作员</td>
		  <td>营业厅</td>
		</tr>
	</table>	
   </div>
	<p class="ywyP1"></p>
  </div>
</div>

    <script src="[!JS]light7.js"></script>
    <script src="[!JS]light7-swiper.js"></script>
    <script src="[!JS]light7-city-picker.js"></script>
    <script src="[!JS]light7-swipeout.js"></script>
    <script src="[!JS]demos.js?r=201603281"></script>
  </body>
</html>
