<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>泉州广电网络</title>
    <meta name="description" content="light7: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="任行">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="[!CSS]light7.css?r=201603281">
    <link rel="stylesheet" href="[!CSS]light7-swiper.css">
    <link rel="stylesheet" href="[!CSS]light7-swipeout.css">
    <link rel="stylesheet" href="[!CSS]demos.css">

    <link rel="apple-touch-icon-precomposed" href="[!IMG]apple-touch-icon-114x114.png">
    <script src="[!JS]jquery-2.1.4.js"></script>	
	<SCRIPT src="[!JS]qzgdwlSearch.js" type="text/JavaScript" > </SCRIPT>
	<SCRIPT src="[!JS]function.js" type="text/JavaScript"></SCRIPT>
    <script>
      //ga
    </script>
  </head>
  <body>
    <div id="page-label-input" class="page">
  <header class="bar bar-nav">
   <!-- <a class="button button-link button-nav pull-left back" href="javscript: window.history.go(-1)">
      <span class="icon icon-left"></span>
      Back
    </a>-->
    <h1 class="title">个人信息登记</h1>
  </header>
  <div class="content">
    <div class="list-block" style="padding: 8px 0px;">
      <ul>
        <!-- Text inputs -->
         <li style="display:none">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">BOSS账号</div>
              <div class="item-input">
                <input type="text" name="boss_no" value = "0000300" placeholder="请输入BOSS账号">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">姓名</div>
              <div class="item-input">
                <input type="text" name="boss_name" placeholder="请输入姓名">
              </div>
            </div>
          </div>
        </li>   
		<li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">手机号码</div>
              <div class="item-input">
                <input type="text" name="phone" placeholder="请输入手机号码">
              </div>
            </div>
          </div>
        </li>   		
      </ul>
    </div>	
	<div><a class="weui_btn_warn" onclick="login()">确定</a></div>
	 
  </div>
</div>

    <script src="[!JS]light7.js"></script>
    <script src="[!JS]light7-swiper.js"></script>
    <script src="[!JS]light7-city-picker.js"></script>
    <script src="[!JS]light7-swipeout.js"></script>
    <script src="[!JS]demos.js?r=201603281"></script>
  </body>
</html>
