<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>&nbsp;&nbsp;泉州广电网络</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="[!CSS]mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="[!CSS]app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">在线业务办理</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-header mui-card-media" style="height:45vw;background-image:url([!IMG]busi.jpg)"></div>
				<ul class="mui-table-view">
					
						<div class="busi-taocan">
							<div>
								<h4>爱家68套餐<img src="[!IMG]kd.png" style="margin-left:2%;" align="absmiddle"><img src="[!IMG]hd.png" style="margin-left:2%;" align="absmiddle"><img src="[!IMG]gq.png" style="margin-left:2%;" align="absmiddle"><img src="[!IMG]ssf.png" style="margin-left:2%;" align="absmiddle"></h4>
							</div>
							<table style="width:90%"><tr><td rowspan="2">
							<div class="col-6" style="float: left;padding: 5px 0;box-sizing: border-box;"> 
								<div style="width: 154px;height: 96px;float: left;text-align: center;font-size: 2.4rem;font-weight: bold;color: #ffffff;margin: 5px;position: relative;background: url('[!IMG]icon_computer2.png') no-repeat center;background-size: 148px 94px;"></div> 
							</div></td><td style="text-align:center;">	
								<h4 style="font-weight: bold;color: #FE5C00;font-size: 1.4rem;margin-top:15px;">68元/月</h4>
								</td> </tr>
							<tr>
								<td >
									<input type="button" class="greenbtn col-12" value="立即办理" style="color:#fff;background:#9fd10e;font-size:20px;"> 
								
							</td>
								</tr>
								</table>
						</div> 
					
					<li class="mui-table-view-cell mui-collapse" style="width:100%">
						<a class="mui-navigate-right" href="#">							
								详情
						</a>						
						<div class="mui-collapse-content">
							<div style="float: left;width:50%;">
								<dl style="margin-top:5px;">
								   <dt style="background: url([!IMG]header_bg.png) no-repeat;background-size: 28%;
		height: 2rem;line-height: 1.8rem;text-indent: 1rem;color: #fff;background-size: 104px 29px;">套餐内容</dt>
								   <dd style="line-height: 1.5;margin: 0 1rem;">1. 70个以上基本频道</dd>
								   <dd style="line-height: 1.5;margin: 0 1rem;">2. 30个高清频道</dd>
								   <dd style="line-height: 1.5;margin: 0 1rem;">3. 互动点播</dd>
								   <dd style="line-height: 1.5;margin: 0 1rem;">4. 送10M宽带</dd>
								</dl>
							</div>
							<div style="float: left;width:50%;">
								<dl style="margin-top:5px;">
								   <dt style="background: url([!IMG]header_bg.png) no-repeat;background-size: 28%;
		height: 2rem;line-height: 1.8rem;text-indent: 1rem;color: #fff;background-size: 104px 29px;">享优惠</dt>
								  <dd style="line-height: 1.5;margin: 0 1rem;">1. 绑定2年协议送高清互动机顶盒</dd>
								   <dd style="line-height: 1.5;margin: 0 1rem;">2. 新用户免380元开户费</dd>
								</dl>
							</div>
							
						</div>
					</li>
					
				</ul>
			</div>
			
			
		</div>
		<script src="[!JS]mui.min.js"></script>
	</body>

</html>